/* .section-title{
    color: #FF575A;
    font-family: "Source Sans Pro", Sans-serif;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: -2px;
   
}
.section-p{
    color: #101820;
    font-family: "Roboto", Sans-serif;
    font-size: 21px;
    font-weight: 800;
} */