.service{
    /* background-color: rgb(220, 236, 236);*/
    /* border: 1px solid rgb(185, 236, 236);  */
    border-radius: 20px;
    padding: 10px;
    box-shadow: gray;
    margin-bottom: 20px;
} 
.list-item{
    list-style-type: none;
    font-weight: 700;
}
.btn-read-more{
    border: none;
    color: rgb(50, 197, 197) ;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15px; 
}
.btn-read-more:hover{
    background-color: rgb(55, 209, 209);
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15px;    
}
.img{
  height: 300px;
  width: 100%;
}