/* .service{
   
    border-radius: 20px;
    padding: 10px;
    box-shadow: gray;
    margin-bottom: 20px;
} 
.list-item{
    list-style-type: none;
    font-weight: 700;
}
.btn-read-more{
    border: none;
    color: #FF575A ;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15px; 
}
.btn-read-more:hover{
    background-color: #FF575A;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15px;    
}
.img{
  height: 300px;
  width: 100%;
}  */