/* .menubar-container{
    background-color: #FFEEEE;
  
}
.item{
    list-style: none;
    margin-right: 30px;
    font-size: 25px;
    font-weight: 500;
    color: #FF575A;
    cursor: pointer;
    padding: 5px;
    text-decoration: none; 
}
.item:hover {
   background-color: #FF575A;
   color: white;
   padding: 5px;
   border-radius: 5px;
  } */