/* .right-part{
    background-color: rgb(226, 163, 173);
}
.left-part{
    background-color: rgb(233, 222, 224);
}
.accordian-header{
    color: tomato;
}

.accordian-header:hover{
background-color:  #FF575A;
color: white;
} */