/* .admin-area{
    background-color: #FF575A;
    color: white;
    height: 100vh;
}
.admin-container{
    overflow-x: hidden;
}
.admin-menu{
    list-style: none;
    cursor: pointer;
}
.admin-menu:hover{
    color: rgb(238, 179, 169);
} */