.carousel-title{
    font-size: 50px;
    font-weight: 700;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(194, 47, 22);
}
.carousel-p{
    font-weight: 500;
    font-size: 20px;
    color: white;
}
.loaction-btn{
    background-color: rgb(238, 179, 169);
    color: white;
    border: 1px solid #f18c7a;
    padding: 5px 8px;
    margin: 5px;
    border-radius: 20px;
}
.search-btn{
    background-color:#FF575A ;
    color: white;
    border: 1px solid tomato;
    padding: 4px 10px;
    margin: 5px;
    border-radius: 15px;
}
